@using MyAlloySite
@using System.Web.Optimization
@model MyAlloySite.DTO.PromotionViewModel

@{ Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; }
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<div class="container">
    @{Html.RenderPartial("Breadcrumbs", Model);}
    <div class="campaign-wrapper" style="all:unset">
        @Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth, Category = Model.Categories.Select(s => s.Code) })
    </div>
    @if (Model.SortItems != null && Model.SortItems.Any())
    {
        <div class="pull-right" style="padding-bottom:25px">
            @Html.Partial("~/Views/PromotionPage/_Sorting.cshtml", Model.SortItems)
        </div>
    }
    <div class="row">
        <div class="span3">
            @Html.Partial("~/Views/PromotionPage/_Filter.cshtml", Model.Filters)
        </div>
        <div class="span9">
            <div id="outer-containter-product">
                @Html.Partial("~/Views/PromotionPage/ProductListing.cshtml", Model.Products)
            </div>
            <div id="btn_showMore" class="row" style="clear:both; display:flex; justify-content:center">
                @if (Model.Paging.HasMore)
                {
                    <button style="background-color: #333; color:aliceblue; width: 250px; padding: 15px 32px; " type="button" class="btn-primary" id="showMore">Show more</button>
                }
                else
                {
                    <button style="background-color: #333; color:aliceblue; width: 250px; padding: 15px 32px; " type="button" class="btn-primary" id="showMore" hidden>Show more</button>
                }
            </div>
        </div>
    </div>
    <input id="pageIndex" type="hidden" value="1" />
    <input id="pageSize" type="hidden" value=@Model.CurrentPage.PageSize />
    <input id="category" type="hidden" />
    <input id="campaignName" type="hidden" value="@Model.CampaignName" />
    <input id="listCategory" type="hidden" value="@Model.Categories" />
</div>

@Styles.Render("~/Content/ribbon")
@Scripts.Render("~/bundles/promotion")

